@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html{
        scroll-behavior: smooth;
    }
}
::-webkit-scrollbar{
    display: none;
}
.rich-text{
    font-size: 15px;
    color: #7a7b7d;
}
.rich-text p{
    margin-bottom: 16px;
}
.rich-text h1{
    font-size: 36px;
    font-weight: 800;
    color: #252525;
}
.rich-text h2{
    color: #252525;
    font-size: 22px;
}
.rich-text h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}